<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.21">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.54-rc730.05bb1322341d">
    <script>def name = &quot;test-s3-big-file&quot;
def file = &quot;test.bin&quot;

timestamps {
    node() {
      try{
        stage(&apos;Generating ${file}&apos;) {
          sh &quot;[ -f ${file} ] || dd if=/dev/urandom of=${file} bs=10240 count=102400&quot;
        }
        stage(&apos;Archive&apos;) {
          archiveArtifacts file
        }
        stage(&apos;Unarchive&apos;) {
          unarchive mapping: [&quot;${file}&quot;: &apos;test.bin&apos;]
        }      
      } finally {
        deleteDir()
      }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>